/*--------------------------------------------------------------
  # Page Templates
  --------------------------------------------------------------*/

// Full Page Styling
$break-small: 740px;
$break-large: 1200px;
p {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 100;
    line-height: 36px;
    font-family: "Roboto", sans-serif;
}

h2 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 38px;
}

h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

li {
    font-weight: 100;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1200px);
    display: grid;
    min-width: 960px;
    background: #001240;
    background: -moz-linear-gradient( top, #001240 0%, #3c1750 34%, #3c1750 48%, #540507 73%, #c11443 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient( top, #001240 0%, #3c1750 34%, #3c1750 48%, #540507 73%, #c11443 100%);
    background: linear-gradient( to bottom, #001240 0%, #3c1750 34%, #3c1750 48%, #540507 73%, #c11443 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#001240", endColorstr="#c11443", GradientType=0);
}

.title-button {
    border-radius: 0;
    border: none;
    padding: 8px;
    background-color: white;
    text-shadow: none;
    width: 124px;
    text-transform: uppercase;
    margin-top: 34px;
    color: red;
    box-shadow: 0px 0px 5px rgb(22, 5, 85);
}

.title-button:hover {
    color: red;
    background-color: white !important;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

// Title Page
.page1 {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    background-image: url("../../images/sean-backgroundlogo.png");
    background-size: cover;
    .header {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        .logo {
            padding: 14px;
            width: 60%;
            height: 80%;
            img {
                height: 40%;
                margin-left: 8%;
                margin-top: 1%;
            }
        }
        .menu {
            width: 30%;
        }
    }
    .title {
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        width: 100vw;
        height: 50%;
        padding-left: 6%;
        p {
            margin: 0;
            margin-bottom: 24px;
            width: 80%;
            line-height: 26px;
        }
        h1 {
            font-family: "Oswald", sans-serif;
            font-size: 38px;
            @media screen and (min-width: $break-small) {
                margin: 0;
                letter-spacing: 8px;
                margin-bottom: 24px;
                font-size: 118px;
            }
        }
    }
    .scroll-icon {
        margin: 0 auto;
        margin-top: 44px;
    }
    .image-scroll {
        margin: 0 auto;
        margin-top: 5%;
        height: 30px;
        width: 30px;
        -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: transform 0.8s ease-in-out;
    }
    .image-scroll:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    p {
        margin: 0 auto;
        color: white;
        margin-top: 14px;
    }
}

// About Me
.page2 {
    grid-row: 2/3;
    display: none;
    @media screen and (min-width: $break-small) {
        display: flex;
    }
    flex-direction: row;
    .white-box {
        display: flex;
        flex-direction: row;
        height: 98%;
        width: 98%;
        margin: 0 auto;
        background-color: white;
        .pic {
            width: 40%;
            height: 90%;
            margin-top: 4%;
            position: relative;
            right: 4%;
            .profile-image {
                height: 98%;
                width: 100%;
                background-image: url("../../images/profile.jpg");
                background-size: cover;
                box-shadow: 10px 10px 20px rgba(185, 185, 185, 0.5);
                z-index: 10;
                position: absolute;
            }
            .profile-image-box {
                height: 60%;
                width: 90%;
                color: white;
                border: 1px solid rgba(175, 193, 199, 0.4);
                z-index: 1;
                position: absolute;
                left: 18%;
                bottom: 46%;
            }
        }
        .about-me {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 50%;
            height: 80%;
            margin-top: 6%;
            margin-left: 8%;
            .about-me-intro {
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 35%;
                padding: 24px 0 0 24px;
                background: rgba(175, 193, 199, 0.2);
                box-shadow: 1px 1px 3px rgba(175, 193, 199, 0.4);
                position: relative;
                bottom: 34px;
                h2 {
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 2%;
                    color: black;
                    font-size: 48px;
                }
                h3 {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                p {
                    font-weight: bold;
                    width: 90%;
                    font-size: 16px;
                    font-weight: 100;
                    margin: 0;
                    margin-bottom: 3%;
                }
            }
            .about-left {
                width: 30%;
                height: 60%;
                p {
                    font-weight: bold;
                    padding-left: 8%;
                    font-size: 18px;
                    text-transform: uppercase;
                }
                ul {
                    padding: 0;
                    margin: 0;
                }
                li {
                    font-size: 14px;
                    list-style: none;
                    margin: 10px 0;
                }
                ul li::before {
                    color: red;
                    content: "-";
                    font-size: 1em;
                    padding-right: 1.1225em;
                    position: relative;
                    top: 0em;
                }
                button {
                    border-radius: 0;
                    border: none;
                    padding: 8px;
                    background-color: rgb(22, 5, 85);
                    text-shadow: none;
                    width: 124px;
                    text-transform: uppercase;
                    margin-top: 34px;
                    color: white;
                    box-shadow: none;
                }
                button:hover {
                    box-shadow: 0px 0px 5px rgb(22, 5, 85);
                    position: relative;
                }
            }
            .about-right {
                width: 60%;
                height: 60%;
                p {
                    font-size: 18px;
                    padding-left: 8%;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                ul {
                    padding: 0 20px;
                    margin: 0;
                }
                li {
                    font-size: 14px;
                    width: 450px;
                    margin: 10px 0;
                    list-style: none;
                }
                ul li::before {
                    color: red;
                    content: "-";
                    font-size: 1em;
                    padding-right: 1.1225em;
                    position: relative;
                    top: 0em;
                }
            }
        }
    }
}

// My Work
.page3 {
    grid-row: 3/4;
    display: none;
    @media screen and (min-width: $break-small) {
        display: flex;
    }
    flex-direction: row;
    .scroll-icon {
        position: relative;
        left: 50%;
        bottom: 66px;
        background: purple;
        box-shadow: 0 0 8px purple;
        border-radius: 20px;
        height: 30px;
    }
    .image-scroll {
        margin: 0 auto;
        margin-top: 5%;
        height: 30px;
        width: 30px;
        -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: transform 0.8s ease-in-out;
    }
    .image-scroll:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .my-work {
        width: 40%;
        height: 75%;
        margin-top: 4%;
        padding-top: 8%;
        padding-left: 6%;
        color: white;
        h2 {
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 48px;
            margin-bottom: 24px;
        }
        h4 {
            text-transform: uppercase;
            letter-spacing: 4px;
            margin-bottom: 44px;
        }
        p {
            width: 80%;
            line-height: 28px;
            font-size: 14px;
        }
        .view-site-button {
            border-radius: 0;
            border: none;
            padding: 8px;
            background-color: white;
            box-shadow: none;
            text-shadow: none;
            width: 124px;
            text-transform: uppercase;
            margin-top: 34px;
            margin-bottom: 44px;
            color: red;
        }
        .view-site-button:hover {
            box-shadow: 0px 0px 5px #fff;
            color: red;
        }
        .prev-button,
        .next-button {
            border-radius: 0;
            border: none;
            padding: 8px;
            background-color: rgba(255, 255, 255, 0);
            color: white;
            font-size: 14px;
            font-weight: 100;
            letter-spacing: 3px;
            box-shadow: none;
            text-shadow: none;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
    }
    .my-work-pics {
        width: 70%;
        height: 85%;
        margin-top: 12%;
        margin-left: 6%;
        margin-right: 4%;
        position: relative;
        .work-box {
            height: 90%;
            opacity: 0.6;
            width: 70%;
            position: relative;
            left: 34%;
            bottom: 8%;
            z-index: 1;
            background: white;
        }
        .nexus {
            display: flex;
            height: 100%;
            width: 100%;
            z-index: 2;
            position: relative;
            bottom: 92%;
            background-image: url("../../images/portfolio-nexus.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
        .aloha {
            display: hide;
        }
    }
}

// What im About
.page4 {
    grid-row: 4/5;
    display: none;
    @media screen and (min-width: $break-small) {
        display: flex;
    }
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    .scroll-icon {
        position: relative;
        left: 50%;
        bottom: 0%;
        border-radius: 20px;
        height: 30px;
        z-index: 1000;
    }
    .image-scroll {
        margin: 0 auto;
        margin-top: 5%;
        height: 30px;
        width: 30px;
        -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: transform 0.8s ease-in-out;
    }
    .image-scroll:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .what-im-about {
        height: 30%;
        width: 100%;
        margin-top: 44px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 12%;
        h2 {
            letter-spacing: 6px;
            text-transform: uppercase;
            font-size: 48px;
        }
    }
    .what-title {
        height: 30%;
        width: 100%;
        padding-left: 44px;
        margin-bottom: 48px;
    }
    .what-left {
        width: 50%;
        height: 70%;
        padding-left: 44px;
        p {
            letter-spacing: 1px;
            width: 80%;
        }
    }
    .what-right {
        width: 50%;
        height: 70%;
        p {
            width: 80%;
            letter-spacing: 1px;
        }
    }
    .what-cards {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .card1 {
            text-align: center;
            transition: 0.5s;
            padding: 44px 24px;
            width: 30%;
            height: 98%;
            border: 1px solid white;
            opacity: 0.7;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font-size: 14px;
            }
            .card1-image {
                height: 25%;
                width: 28%;
                margin-bottom: 34px;
                .image-white {
                    display: block;
                }
                .image-black {
                    display: none;
                }
            }
        }
        .card1:hover {
            transition: 0.5s;
            background-color: white;
            position: relative;
            bottom: 2%;
            color: rgb(0, 0, 0);
            opacity: 0.8;
            box-shadow: 4px 4px 4px rgba(175, 193, 199, 0.4);
            .image-white {
                display: none;
            }
            .image-black {
                display: block;
            }
        }
        .card2 {
            text-align: center;
            transition: 0.5s;
            padding: 44px 24px;
            width: 30%;
            height: 98%;
            border: 1px solid white;
            opacity: 0.7;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font-size: 14px;
            }
            .card2-image {
                margin-bottom: 34px;
                height: 25%;
                width: 28%;
                .image-white {
                    display: block;
                }
                .image-black {
                    display: none;
                }
            }
        }
        .card2:hover {
            transition: 0.5s;
            background-color: white;
            position: relative;
            bottom: 2%;
            color: rgb(0, 0, 0);
            opacity: 0.8;
            box-shadow: 4px 4px 4px rgba(175, 193, 199, 0.4);
            .image-white {
                display: none;
            }
            .image-black {
                display: block;
            }
        }
        .card3 {
            text-align: center;
            transition: 0.5s;
            padding: 44px 24px;
            width: 30%;
            height: 98%;
            border: 1px solid white;
            opacity: 0.7;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font-size: 14px;
            }
            .card3-image {
                margin-bottom: 34px;
                height: 25%;
                width: 28%;
                .image-white {
                    display: block;
                }
                .image-black {
                    display: none;
                }
            }
        }
        .card3:hover {
            transition: 0.5s;
            background-color: white;
            position: relative;
            bottom: 2%;
            color: rgb(0, 0, 0);
            opacity: 0.8;
            box-shadow: 4px 4px 4px rgba(175, 193, 199, 0.4);
            .image-white {
                display: none;
            }
            .image-black {
                display: block;
            }
        }
    }
}

// Education
.page5 {
    color: white;
    grid-row: 5/6;
    display: none;
    @media screen and (min-width: $break-small) {
        display: flex;
    }
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .scroll-icon {
        position: relative;
        left: 50%;
        bottom: 46%;
        border-radius: 20px;
        height: 30px;
        z-index: 1000;
    }
    .image-scroll {
        margin: 0 auto;
        margin-top: 5%;
        height: 30px;
        width: 30px;
        -webkit-transition: -webkit-transform 0.8s ease-in-out;
        transition: transform 0.8s ease-in-out;
    }
    .image-scroll:hover {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .education-wrapper {
        height: 80%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .education-left {
            width: 50%;
            height: 100%;
            p {
                width: 70%;
            }
            .education-icons {
                padding: 24px;
                text-align: center;
                font-size: 14px;
                width: 90%;
                height: 50%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                position: relative;
                right: 8%;
                .icon-card {
                    padding: 8%;
                }
            }
        }
        .education-right {
            border: 1px solid rgba(233, 233, 233, 0.4);
            width: 50%;
            height: 100%;
            padding: 48px;
            ul {
                padding: 0;
                margin: 0;
            }
            li {
                font-size: 13px;
                margin: 0;
                margin-bottom: 14px;
                list-style: none;
            }
            ul li::before {
                color: red;
                content: "-";
                padding-right: 1.1225em;
                position: relative;
                top: 0em;
            }
        }
    }
}

// Contact
.page6 {
    grid-row: 6/7;
    display: none;
    @media screen and (min-width: $break-small) {
        display: flex;
    }
    flex-direction: column;
    padding-top: 10%;
    .contact-wrap {
        justify-content: space-between;
        align-items: space-between;
        height: 70%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .contact-me {
            height: 30%;
            width: 80%;
            color: white;
            padding-left: 44px;
            a {
                color: white;
                text-decoration: none;
                text-shadow: 1px 1px 1px blue;
            }
            a:hover {
                color: rgba(0, 68, 255, 0.63);
                text-decoration: none;
                text-shadow: 2px 2px 2px blue;
            }
        }
        .contact-form {
            display: flex;
            flex-direction: row;
            height: 50%;
            width: 90%;
            padding: 34px;
            padding-left: 24px;
            align-items: center;
            justify-content: center;
            p {
                color: white;
                display: inline-block;
                width: 24%;
                margin-right: 14px;
                opacity: 0.8;
                margin-bottom: 14px;
            }
            .wpcf7-form-control {
                width: 100%;
            }
            .wpcf7-textarea {
                width: 100%;
                height: 100px;
                margin-right: 44px;
            }
            .wpcf7-submit {
                border-radius: 0;
                border: none;
                padding: 8px;
                background-color: white;
                box-shadow: none;
                text-shadow: none;
                width: 124px;
                text-transform: uppercase;
                margin-top: 34px;
                margin-bottom: 44px;
                position: relative;
                left: 44px;
                bottom: 12px;
                color: red;
            }
            .wpcf7-submit:hover {
                box-shadow: 0 0 5px white;
                position: relative;
            }
            .wpcf7-validation-errors {
                background-color: rgb(255, 255, 255);
                color: rgb(82, 1, 1);
                font-weight: 400;
                border: none;
                margin: 0;
                padding: 0;
            }
            .wpcf7-mail-sent-ok {
                background-color: rgb(6, 177, 0);
                color: rgb(255, 255, 255);
                font-weight: 400;
                margin: 0;
                border: none;
                padding: 0;
            }
        }
    }
}